region = "us-east-1"
perfil_aws = "default"
prefijo = "seabook"
cidr_vpc = "10.10.0.0/16"
subredes_publicas = ["10.10.1.0/24", "10.10.2.0/24"]
subredes_privadas = ["10.10.11.0/24", "10.10.12.0/24"]

dominio = ""
certificado_acm_arn = ""

presupuesto_usd_mensual = 50